.titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid rgb(231, 231, 231);
    padding-bottom: 2px;
}

h1 {
    color: #b8bdfa;
    font-style: italic;
    margin-right: 10px;
}

.cuerpo {
    display: flex;
    justify-content: space-around;
}

.medidas {
    display: flex;
    gap: 15px;
}

h3 {
  margin-bottom: 15px;
}

.tablero {
  display: grid;
  grid-template-columns: 30px repeat(10, 40px);
  grid-template-rows: 30px repeat(10, 40px);
  gap: 2px;
}

.vacio {
  grid-column: 1;
  grid-row: 1;
}

.letra, .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #444;
}

.letra {
  background: transparent;
}

.numero {
  background: transparent;
}

.celda {
  background-color: #f3f4f6;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.celda:hover {
  background-color: #e0e7ff;
}

.start {
    background-color: #5b35e5;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px; 
}

.restart {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px; 
}

.abandon {
    background-color: #E53935;
    text-align: center;
    padding: 20px 35px;
    border-radius: 10px; 
}

img {
  width: 150px;    
  height: 150px;     
  object-fit: cover; 
}

.stats-jugador {
  font-family: sans-serif;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.break {
  flex-basis: 100%;
  height: 0;  
}

.stat {
  background-color: #f1f2fa;
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
}

.footer3 {
  margin-top: 100px;
}

/* versión tablet */
@media (max-width: 1024px) and (min-width: 768px) {

  .cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloque1 {
    width: 90%;
    margin-bottom: 20px;
    margin: 0;
  }

  .bloque2 {
    width: 90%;
    margin-bottom: 20px;
    margin: 0;
  }

  .bloque3 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin: 0;
  }

  .stats-jugador {
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  .footer3 {
    margin: 0;
  }

  
  .banner {
    display: none;
  }
}

/* versión móvil */
@media (max-width: 767px) {

  .cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloque1, .bloque3, .bloque2 {
    width: 95%;
    margin-bottom: 20px;
  }

  .banner {
    display: none;
  }

  .bloque1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .bloque3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 16px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    text-align: center;
  }

  .tablero {
    transform: scale(0.9);
  }
}
