name: Despliegue Hundir la Flota

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Docker
        uses: docker/setup-buildx-action@v2

      # BACKEND
      - name: Construir Backend
        run: |
          docker build -t backend ./Backend

      - name: Iniciar Backend
        run: |
          docker run -d -p 5000:5000 --name backend_container backend

      # FRONTEND
      - name: Construir Frontend
        run: |
          docker build -t frontend ./FrontEnd

      - name: Iniciar Frontend
        run: |
          docker run -d -p 80:80 --name frontend_container frontend

      # NGROK
      - name: Instalar Ngrok
        run: |
          sudo apt update
          sudo apt install -y unzip
          wget -O ngrok.zip https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.zip
          unzip ngrok.zip
          sudo mv ngrok /usr/local/bin/
          ngrok version

      - name: Autenticar Ngrok
        run: |
          ngrok authtoken ${{ secrets.NGROK_AUTHTOKEN }}

      - name: Iniciar túnel Ngrok
        run: |
          ngrok http 80 --log=stdout > ngrok.log &
          sleep 5
          curl http://localhost:4040/api/tunnels

      - name: Mantener contenedores vivos
        run: sleep 600